@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Marcellus SC", serif;
}

input[type=number]:hover::-webkit-inner-spin-button {
  opacity: 0;
}

input[type=number]:focus::-webkit-inner-spin-button {
  opacity: .1;
}
