@import "tailwindcss";
@import "../../../libs/shadcnutils/src/global.css";
@source "../../../libs/shadcnui/src/**/*.tsx";

@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Marcellus SC", serif;
}

input[type=number]:hover::-webkit-inner-spin-button {
  opacity: 0;
}

input[type=number]:focus::-webkit-inner-spin-button {
  opacity: .1;
}
